:root {
  --mainBrown: #2d1e1f;
  --mainBlue: #389ad4;
  --mainGrey: #f7f4eb;
  --mainWhite: #fff;
  --mainDark: #000;
  --mainRed: #c82128;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainBlue) !important;
}
.title {
  letter-spacing: 0.3rem;
  font-weight: 400;
}
.logo {
  color: var(--mainBlue);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
}
.btn-yellow {
  color: var(--mainBlue) !important;
  border-color: var(--mainBlue) !important;
}
.btn-yellow:hover {
  background: var(--mainBlue) !important;
  color: var(--mainDark) !important;
}
/* 69acd3 */
.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(171, 227, 255), rgba(171, 227, 255, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1 !important;
}
.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(171, 227, 255), rgba(171, 227, 255, 0.5));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1 !important;
}
.menu {
  background: var(--mainGrey);
}
.contact {
  background: var(--mainGrey);
}
.footer {
  background: var(--mainDark);
}
