:root {
  --mainBrown: #2d1ef1;
  /* --mainYellow: #ff9e09; */
  --mainBlue: #4287f5;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-blue {
  color: var(--mainBlue);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
}
